.wp-table {
  min-width: 950px;
  background-color: white;
  overflow-x: scroll;
  border-radius: 5px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #299cdb;
    border-radius: 10px;
  }
  .detail-table {
    border-collapse: collapse;
    thead {
      tr {
        th {
          font-weight: 500;
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          background-color: #eff2f7;
        }
      }
    }
    tbody {
      tr {
        td {
          border-bottom: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
      }
    }
  }
  .wp-btn-back {
    .btn-back {
      display: flex;
      gap: 6;
      align-items: center;
      padding: 5px 20px;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      background-color: #626ed4;
      border-radius: 5px;
      margin-top: 20px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
