.wp-learn-left {
  position: absolute;
  width: 300px;
  border-right: 2px solid rgb(224, 222, 222);
  border-bottom: 2px solid rgb(224, 222, 222);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;

  .wp-learn-left-head {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wp-head {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      .wp-img-avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
      .name-avatar {
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.6;
      }
      .wp-exp {
        width: 30px;
        height: 30px;
        background-color: white;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #fdd835;
      }
      .poin-profile {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }
    }
    .infor {
      background-color: #e9e9e9;
    }
    .poin {
      background-color: #fdd835;
    }
    .learn-left-head {
      font-size: 1.2rem;
      font-weight: 500;
      color: #fdd835;
    }
  }
  .item-topic {
    .active {
      background-color: #e9e9e9;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    &:hover {
      background-color: #e9e9e9;
    }
    .item-topic-name {
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.7;
    }
    .wp-img-topic {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      .isTopic {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }
      .img-topic {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }
  .active {
    background-color: #e9e9e9;
  }
  .navbar-active {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    top: 20px;
    right: -40px;
    border-right: 2px solid rgb(224, 222, 222);
    border-top: 2px solid rgb(224, 222, 222);
    border-bottom: 2px solid rgb(224, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-icon {
      font-size: 1.2rem;
      opacity: 0.6;
    }
  }
  .PopupTopic {
    background-color: rgba(22, 9, 9, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenTopic {
      background-color: white;
      width: 520px;
      padding: 36px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .wp-imgTopic {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;
        .imgTopic {
          width: 80px;
          height: 80px;
          object-fit: cover;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
        }
      }
      .btn-Topic {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #4385f3;
        color: white;
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }
}
.isOpen {
  animation: close linear 0.5s;
  transform: translate(-65%);
}
// @keyframes close {
//   from {
//     transform: translate(0%);
//   }
//   to {
//     transform: translate(-65%);
//   }
// }
.isClose {
  animation: oppen linear 0.5s;
}
// @keyframes oppen {
//   from {
//     transform: translate(-65%);
//   }
//   to {
//     transform: translate(0%);
//   }
// }
